* {
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

aside {
  display: block;
}

nav {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

section {
  display: block;
}

main {
  display: block;
}

h1 {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
}

h2 {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
}

h3 {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
}

h4 {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
}

h5 {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
}

h6 {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
}

p {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}
ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}
input:focus {
  outline: none;
}
input:active {
  outline: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:active {
  outline: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}